.card {
  border-radius: sp(8);
  padding: 0;
  &--outlined {
    border: sp(1) solid var(--color-border);
  }
  &--filled {
    border: none;
    background: var(--surface);
  }
  &--raised {
    border: sp(1) solid var(--color-border-hover);
    background: var(--background);
    box-shadow: 0 sp(4) sp(8) 0 var(--color-shadow);
  }
}