@use "sass:color";

@mixin palette {
  $primary-color: #1d5dea;
  $surface: #000000;
  $color-destructive: #EF5A70;

  @media (prefers-color-scheme: light) {
    --blurred-background: blur(30px);
    --color-primary: #{$primary-color};
    --color-primary-light: #{color.adjust($primary-color, $lightness: -15%)};
    --color-primary-lighter: #{color.adjust($primary-color, $lightness: -30%)};
    --surface-blue: #{color.adjust($primary-color, $alpha: -0.85)};
    --surface-red: #{color.adjust($color-destructive, $alpha: -0.9)};
    --color-border-blue: #{color.adjust($primary-color, $alpha: -0.25)};
    --background: white;
    --background-raised: #f0f2f5;
    --surface: #{color.adjust($surface, $alpha: -0.95)};
    --surface-dark: #{color.adjust($surface, $alpha: -0.8)};
    --backdrop: #{color.adjust($surface, $alpha: -0.5)};
    --color-text: #1d1d20;
    --color-text-secondary: #5d5d5d;
    --color-border: #e2e2e2;
    --color-border-hover: #cfcfcf;
    --color-hover: rgba(0, 0, 0, 0.04);
    --color-active: rgba(0, 0, 0, 0.06);
    --color-focus: #1d5dea99;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-success: #3DA144;
    --color-destructive: #{$color-destructive};
    --color-destructive-light: #{color.adjust($color-destructive, $lightness: 10%)};;
    --color-destructive-lighter: #{color.adjust($color-destructive, $lightness: 20%)};;
    --color-warning: #D86F48;
    --color-text-disabled: #868694;
  }
  @media (prefers-color-scheme: dark) {
    --blurred-background: blur(30px) brightness(50%);
    --color-primary: #0a84ff;
    --color-primary-light: #3399ff;
    --color-primary-lighter: #4da6ff;
    --surface-blue: #0a84ff11;
    --surface-red: #{color.adjust($color-destructive, $alpha: -0.9)};
    --color-border-blue: #0a84ff33;
    --background: #161616;
    --background-raised: #252526;
    --surface: rgba(255, 255, 255, 0.05);
    --surface-dark: rgba(0, 0, 0, 0.3);
    --backdrop: rgba(0, 0, 0, 0.5);
    --color-text: #f0f0ff;
    --color-text-secondary: #b1b1bc;
    --color-border: rgba(255, 255, 255, 0.09);
    --color-border-hover: rgba(255, 255, 255, 0.09);
    --color-hover: rgba(255, 255, 255, 0.03);
    --color-active: rgba(255, 255, 255, 0.05);
    --color-focus: #0a84ff66;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-success: #3DA144;
    --color-destructive: #{$color-destructive};
    --color-destructive-light: #{color.adjust($color-destructive, $lightness: -10%)};;
    --color-destructive-lighter: #{color.adjust($color-destructive, $lightness: -20%)};;
    --color-warning: #D86F48;
    --color-text-disabled: #6e6e73;
  }

}
